body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.text-highlight1{
    color: #363958 ;
}
.text-highlight2{
    color: #FF8367;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.first-half img{
    width: 100%;
}
.button{
    /* font-family: roboto; */
    color: white;
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
}
section{
    height: 500px;
    margin-bottom: 150px;
}
.first-half{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
#bg-project{
    text-align: center;
    padding-top: 100px;
}
.second-half img{
    width: 100%;
}
#mother-div{
    margin-top: 80px;
    padding: 0px 50px;
}
.second-half{
    width: 25%;
    height: 50%;
    background-color: white;
    margin-left: 5%;
    padding: 10px;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 10px 20px gray;
}
.project-section{
    background-color: #E5E5E5;
    height: 700px;
}
.inquiry-section{
    height: 500px;
    /* background-image: url(images/background.png);
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 300px;
    margin-right: 300px; */
}
.inquiry{
    width: 80%;
    height: 60%;
    margin-left: 150px;
    background-image: url(images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#inquiry-c1{
    color: white;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}
#inquiry-c2{
    float: right;
    margin-top: 120px;
    margin-right: 120px;
}

/* .social-media{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
} */
.midea-heading{
    /* margin-top: 100px;
    padding-bottom: 100px; */
    text-align: center;
}
#midea-icon{
    padding-left: 40%;
}
.small-icon{
    height: 40px;
    width: 40px;
    margin: 0px 25px;
}
